
<h1>Enter the values in the calculator</h1>
<!-- <form name="calculator" method="post" action="/api/calculator"> -->
<div id="formdiv">	
	<input id="command"/>
	<input type="button" value="Calculate" id="sub"></input>
</div>

<div id="resultDiv">
	<span id="sp"> Calculator's current state </span>
	<div id="result"></div>
</div>
<!-- </form> -->